<form #modelForm="ngForm" *ngIf="model">
    <div class="form-group" *ngIf="showSelectors">
        <label for="ColorId" class="col-form-label">Колір</label>
        <app-select-list id="ColorId" name="ColorId" [type]="SelectListType.Color" [(ngModel)]="model.ColorId" #_colorId="ngModel"></app-select-list>
        <span class="text-danger" *ngIf="_colorId.touched && _colorId.errors?.selected">Необхідно обрати колір.</span>
    </div>

    <div class="alert alert-warning" role="alert" *ngIf="!showSelectors">
        Неможливо змінити колір, оскільки пачка вже містить квитки.
    </div>

    <div class="form-group" *ngIf="showSelectors">
        <label for="SerialId" class="col-form-label">Серія</label>
        <app-select-list id="SerialId" name="SerialId" [type]="SelectListType.Serial" [(ngModel)]="model.SerialId" #_serialId="ngModel"></app-select-list>
        <span class="text-danger" *ngIf="_serialId.touched && _serialId.errors?.selected">Необхідно обрати серію.</span>
    </div>

    <div class="alert alert-warning" role="alert" *ngIf="!showSelectors">
        Неможливо змінити серію, оскільки пачка вже містить квитки.
    </div>

    <div class="form-group" *ngIf="showSelectors">
        <label for="NominalId" class="col-form-label">Номінал</label>
        <app-select-list id="NominalId" name="NominalId" [type]="SelectListType.Nominal" [(ngModel)]="model.NominalId" #_nominalId="ngModel"></app-select-list>
        <span class="text-danger" *ngIf="_nominalId.touched && _nominalId.errors?.selected">Необхідно обрати номінал.</span>
    </div>

    <div class="alert alert-warning" role="alert" *ngIf="!showSelectors">
        Неможливо змінити номінал, оскільки пачка вже містить квитки.
    </div>

    <div class="form-group">
        <label for="FirstDigit" class="col-form-label">Перша цифра</label>
        <input type="number" class="form-control" id="FirstDigit" name="FirstDigit"
            [(ngModel)]="model.FirstDigit" #_firstDigit="ngModel" min="0" max="9" ngMaxLength="1" />
        <span class="text-danger" *ngIf="_firstDigit.touched && _firstDigit.invalid">Це число може бути від 0 до 9.</span>
    </div>

    <div class="form-group">
        <label for="Note" class="col-form-label">Примітка</label>
        <textarea id="Note" name="Note" [(ngModel)]="model.Note" #_note="ngModel" 
            class="form-control" ngMaxLength="128"></textarea>
        <span class="text-danger" *ngIf="_note.touched && _note.invalid">Примітка не може перевищувати 128 символів.</span>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
                (click)="submitForm()" [disabled]="modelForm.invalid">
            {{ isNew ? "Створити" : "Зберегти" }}
        </button>

        <button type="button" class="btn btn-danger"
                (click)="cancel()">
            Скасувати
        </button>
    </div>
</form>
