<form #modelForm="ngForm">
    <div class="form-group">
        <label for="Name" class="col-form-label">Назва</label>
        <input id="Name" name="Name" [(ngModel)]="model.Name" #_name="ngModel" 
            class="form-control" ngMaxLength="64" />
        <span class="text-danger" *ngIf="_name.touched && _name.invalid">Назва не може перевищувати 64 символи.</span>
    </div>

    <div class="form-group">
        <label for="ColorId" class="col-form-label">Колір</label>
        <app-select-list id="ColorId" name="ColorId" [nullItem]="true" nullItemText="(Не обрано)"
            [type]="SelectListType.Color" [(ngModel)]="model.ColorId" #_colorId="ngModel"></app-select-list>
    </div>

    <div class="form-group">
        <label for="SerialId" class="col-form-label">Серія</label>
        <app-select-list id="SerialId" name="SerialId" [nullItem]="true" nullItemText="(Не обрано)"
            [type]="SelectListType.Serial" [(ngModel)]="model.SerialId" #_serialId="ngModel"></app-select-list>
    </div>

    <div class="form-group">
        <label for="NominalId" class="col-form-label">Номінал</label>
        <app-select-list id="NominalId" name="NominalId" 
            [type]="SelectListType.Nominal" [(ngModel)]="model.NominalId" #_nominalId="ngModel"></app-select-list>
        <span class="text-danger" *ngIf="_nominalId.touched && _nominalId.errors?.selected">Необхідно обрати номінал.</span>
    </div>

    <div class="form-group">
        <label for="Note" class="col-form-label">Примітка</label>
        <textarea id="Note" name="Note" [(ngModel)]="model.Note" #_note="ngModel" 
            class="form-control" ngMaxLength="128"></textarea>
        <span class="text-danger" *ngIf="_note.touched && _note.invalid">Примітка не може перевищувати 128 символів.</span>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
                (click)="submitForm()" [disabled]="modelForm.invalid">
            {{ isNew ? "Створити" : "Зберегти" }}
        </button>

        <button type="button" class="btn btn-danger"
                (click)="cancel()">
            Скасувати
        </button>
    </div>
</form>
