<div class="modal-header">
    <h4 class="modal-title" *ngIf="model.Id">Пачка "{{ model.Name }}"</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <div *ngIf="!isEditMode && model.Id">
        <dl class="row">
            <dt class="col-md-4 col-sm-12">ID</dt>
            <dd class="col-md-8 col-sm-12">{{ model.Id }}</dd>

            <dt class="col-md-4 col-sm-12">Назва</dt>
            <dd class="col-md-8 col-sm-12">{{ model.Name }}</dd>

            <dt class="col-md-4 col-sm-12" *ngIf="model.Serial">Серія</dt>
            <dd class="col-md-8 col-sm-12" *ngIf="model.Serial">{{ model.Serial.Name }}</dd>

            <dt class="col-md-4 col-sm-12" *ngIf="model.Color">Колір</dt>
            <dd class="col-md-8 col-sm-12" *ngIf="model.Color">{{ model.Color.Name }}</dd>

            <dt class="col-md-4 col-sm-12">Номінал</dt>
            <dd class="col-md-8 col-sm-12">{{ model.Nominal.Value | currency }}</dd>

            <dt class="col-md-4 col-sm-12" *ngIf="model.FirstDigit">Перша цифра</dt>
            <dd class="col-md-8 col-sm-12" *ngIf="model.FirstDigit">{{ model.FirstDigit }}</dd>

            <dt class="col-md-4 col-sm-12" *ngIf="!isAdmin">Статус</dt>
            <dd class="col-md-8 col-sm-12" *ngIf="!isAdmin">{{ model | packageStatus }}</dd>

            <dt class="col-md-4 col-sm-12" *ngIf="isAdmin">Відкрита</dt>
            <dd class="col-md-8 col-sm-12" *ngIf="isAdmin">
                {{ model.IsOpened | yesNo }}
            </dd>

            <dt class="col-md-4 col-sm-12" *ngIf="isAdmin">Спеціальна</dt>
            <dd class="col-md-8 col-sm-12" *ngIf="isAdmin">
                {{ model.IsSpecial | yesNo }}
            </dd>

            <dt class="col-md-4 col-sm-12">Дата створення</dt>
            <dd class="col-md-8 col-sm-12">{{ model.CreatedDate | date: 'dd MMMM yyyy hh:mm' }}</dd>

            <dt class="col-md-4 col-sm-12" *ngIf="model.TicketsCount">Квитків</dt>
            <dd class="col-md-8 col-sm-12" *ngIf="model.TicketsCount">{{ model.TicketsCount }}</dd>

            <dt class="col-md-4 col-sm-12" *ngIf="model.Note">Примітка</dt>
            <dd class="col-md-8 col-sm-12" *ngIf="model.Note">{{ model.Note }}</dd>
        </dl>
    </div>

    <div *ngIf="isEditMode">
        <app-package-edit *ngIf="!model.IsSpecial" [source]="model" (onSubmitted)="onModelEdited($event)" (onCancelled)="onCancelled()"></app-package-edit>
        <app-package-special-edit *ngIf="model.IsSpecial" [source]="model" (onSubmitted)="onModelEdited($event)" (onCancelled)="onCancelled()"></app-package-special-edit>
    </div>
</div>

<div class="modal-footer" *ngIf="!isEditMode && model.Id">
    <button type="button" class="btn btn-info" *ngIf="model.TicketsCount" (click)="openTicketsModal()">
        Список квитків ({{ model.TicketsCount }})
    </button>

    <button type="button" class="btn btn-primary" *ngIf="model.UnallocatedToMoveCount && isAdmin">
        Перемістити нерозподілені квитки ({{ model.UnallocatedToMoveCount }})
    </button>

    <button type="button" class="btn btn-primary" (click)="enableEditing()" *ngIf="isAdmin">Редагувати</button>

    <button type="button" class="btn btn-danger"
        (click)="deletePackage()" *ngIf="canBeDeleted && isAdmin">Видалити</button>
</div>