<h2>Серії</h2>
<hr />

<div class="card">
    <div class="card-header">Список серій: {{ seriesList.length }} шт.</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Назва</th>
                        <th>Пачок</th>
                        <th>Квитків</th>
                        <th>Примітка</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let s of seriesList">
                        <td>{{ s.Id }}</td>
                        <td>
                            <button type="button" class="btn btn-link" (click)="openSerial(s)">
                                {{ s.Name }}
                            </button>
                        </td>
                        <td>{{ s.PackagesCount }}</td>
                        <td>{{ s.TicketsCount }}</td>
                        <td>{{ s.Note }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

