<h2>Кольори</h2>
<a href="#" preventDefaultClick (click)="openCreateModal()" *ngIf="isAdmin">
    Додати колір
</a>
<hr />

<controls-table [options]="tableOptions"></controls-table>

<div class="alert alert-info" role="alert" *ngIf="isEmptyList && isLoading">
    Завантаження...
</div>

<div class="alert alert-danger" role="alert" *ngIf="isEmptyList && !isLoading">
    Немає жодної кольору.
    <hr />

    <button type="button" class="btn btn-primary" (click)="openCreateModal()">
        Додати
    </button>
</div>
