<h2>Кольори</h2>
<hr />

<div class="card">
    <div class="card-header">Список кольорів: {{ colorsList.length }} шт.</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-sm table-hover table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Назва</th>
                        <th>Пачок</th>
                        <th>Квитків</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let c of colorsList">
                        <td>{{ c.Id }}</td>
                        <td>
                            <a href="/color/{{c.Id}}" (modalClick)="openColor(c)">
                                {{ c.Name }}
                            </a>
                        </td>
                        <td>{{ c.PackagesCount }}</td>
                        <td>{{ c.TicketsCount }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
