<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" [routerLink]="['/']">Ticket MS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/color']">Кольори</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/serial']">Серії</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/package']">Пачки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/ticket']">Квитки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/']">Статистика</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/']">Звіти</a>
                </li>
            </ul>

            <app-auth-panel></app-auth-panel>
        </div>
    </nav>
</header>

<!-- Begin page content -->
<main role="main" class="container">
    <router-outlet></router-outlet>
</main>

<footer class="footer">
    <div class="container">
        <span class="text-muted">Юрій Носач, 2018</span>
    </div>
</footer>
